.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 5px solid rgb(128, 128, 128);
    padding: 15px;
    color:white
   
}

.container>span{
    text-align: center;
    color:black;
    font-weight: 600;
    font-size: 1.2rem;
}

.productListContainer{
    list-style-type: none;
    padding:0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(180, 180, 180);
    padding: 8px;
    border-radius: 5px;
}

.quantityContainer{
    display: flex;
    gap: 8px;
}

.quantityContainer>button{
    cursor: pointer;
}